.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}

.profile {
    margin-bottom: 10px;
}

.profile-image {
    // float: left;
    // width: calc(33.333% - 1rem);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin-right: 3rem;
    margin: 20px 3rem 0 20px;
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    font-size: 2.2rem;
    text-decoration: none;
    color: black;

    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        text-decoration: none;
        color: black;
    }
}

/* Gallery section */
.gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 1rem;
}

.gallery-item {
    margin: 10px;
    text-align: center;
    width: 350px;
    height: 350px;
}

.gallery-image {
    width: 100%;
    height: 100%;
    margin-top:10px;
    margin-bottom:10px;
    object-fit: cover;
} 

//Navigation bar

.nav-bar {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975)
}

.nav-bar-profile {
    margin-right: 5px;
}

//Form 
.submit-button-form {

    float: right;

    button:first-child {
        margin-right: 5px;
    }
}


//Example from liren
.box {
  border: solid 1px red;
  width: 80vw;
  margin: auto;
}

.box .img-container {
  display: inline-block;
  width: calc(80vw /3);
  height: calc(80vw /3);
//   background-image: url('image-url');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

//Utility
.no-under-link {
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        text-decoration: none;
        color: black;
    }
}

.no-under-link-white {
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        text-decoration: none;
        color: white;
    }
}